config-schema.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3school.com.cn" xmlns="http://www.w3school.com.cn" elementFormDefault="qualified">
	
	<xs:simpleType name="xpathtype" >
	 <xs:restriction base="xs:string" />
	</xs:simpleType>
	
	<xs:element name="validation point" />
	
	<xs:element name="Tests" >
		<xs:element name="module" maxOccurs="unbounded" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="test point" maxOccurs="unbounded" >
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="validation point" maxOccurs="unbounded" />
							</xs:sequence>
							<xs:attribute name="xpath" type="xpathtype" use="required" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="xpath" type="xpathtype" use="required" />
			</xs:complexType>
		</xs:element>
	</xs:element>
</xs:schema>